@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0D0208] text-[#E4D7DE] font-sans;
}

/* globals.css or tailwind.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}